$font-family-base: 'Raleway', sans-serif;

$font-weight-light: 300;
$font-weight-base: 400;
$font-weight-bold: 700;
$font-weight-headings: 800;

$line-height-headings: 1.25;
$line-height-base: 1.75;

$letter-spacing-tracked: .1em;
