@mixin spacing($position: default) {
    padding-top: size(14);
    padding-bottom: size(16);
    margin-bottom: 0;
    margin-top: 0;

    @media screen and (min-width: $screen-md) {
        padding-top: size(22);
        padding-bottom: size(22);
    }


    &.small {
        padding-top: size(5);
        padding-bottom: size(5);

        @media screen and (min-width: $screen-md) {
            padding-top: size(8);
            padding-bottom: size(8);
        }
    }


    @if $position == top {
        padding-bottom: 0 !important;
        @media screen and (min-width: $screen-md) {
            padding-bottom: 0 !important;
        }
    }

    @if $position == bottom {
        padding-top: 0 !important;
        @media screen and (min-width: $screen-md) {
            padding-top: 0 !important;
        }
    }
}
