.spacing {
    padding-top: size(8);
    padding-bottom: size(8);
    position: relative;

    @media screen and (min-width: $screen-md) {
        padding-top: size(14);
        padding-bottom: size(14);
    }

    .spacing + & {
        &::before {
            content: '';
            height: 2px;
            width: size(8);
            max-width: 100px;
            background-color: $color-primary;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        //padding-top: 0;
        //@media screen and (min-width: $screen-md) {
        //    padding-top: 0;
        //}
    }
}
