.spacing {
    position: relative;
    @include spacing();


    &--top {
        @include spacing(top);
    }


    &--bottom {
        @include spacing(bottom);
    }



    &.divider {
        &::before {
            content: '';
            height: 2px;
            width: size(8);
            max-width: 100px;
            background-color: $color-primary;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
