body {
    font-family: $font-family-base;
    line-height: 1.5;
}


h1,
.heading-1,
h2,
.heading-2,
h3,
.heading-3,
h4,
.heading-4,
h5,
.heading-5 {
    @include headings();
    margin-bottom: 1em;

    &.underline {
        padding-bottom: .5em;
        margin-bottom: .5em;

        &:after {
            width: 2ch;
        }
    }
}

h1,
.heading-1 {
    text-align: center;
    font-size: size-flexible(24);
    @media (min-width: $screen-md) {
        font-size: size-flexible(9);
    }

}


h2,
.heading-2 {
    font-size: size-flexible(20);
    @media (min-width: $screen-md) {
        font-size: size-flexible(8);
    }


}

h3,
.heading-3 {
    font-size: size(4);
}


h4,
.heading-4 {
    font-size: size(3);
}



h5,
.heading-5 {
    font-size: size(2);
}


.tracked {
    letter-spacing: $letter-spacing-tracked;
}


p {
    font-size: size(2);
    line-height: $line-height-base;
    margin-bottom: 2em;
    margin-top: 0;


    &:last-child {
        margin-bottom: 0;
    }

    @media (min-width: $screen-md) {
        font-size: size(2.25);
    }

    &.large {
        font-size: size(3);
        @media (min-width: $screen-md) {
            font-size: size(4);
        }
    }
}

ul {
    line-height: $line-height-base;
}


strong {
    color: $color-primary-base;
    font-weight: inherit;
}

a {
    color: $color-primary-base;
    text-decoration: underline;

    &:hover {
        color: $color-primary-400;
    }
}

.underline {
    position: relative;
    padding-bottom: 1em;
    &:after {
        content: '';
        width: 3ch;
        background: $color-primary;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;

    }

    span {
        color: $color-primary;
    }
}

.button-row {
    text-transform: uppercase;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    gap: size(4);


    @media (min-width: $screen-md) {
        flex-direction: row;
        align-items: center;

    }

}

.button-link {
    background: $color-primary;
    color: $color-gray-900;
    text-decoration: none;
    border-radius: 2px;
    padding: 1em 2em;
    text-transform: uppercase;
    transition: .25s ease-out;
    cursor: pointer;
    display: inline-block;

    &:hover {
        color: $color-gray-1000;
        background: $color-primary-400;
    }
}
