.contact-icons {
    display: flex;
    gap: size-flexible($gutter);
    justify-content: flex-start;

    a {
        color: $color-white;
        display: flex;
        padding: size(2);
        justify-content: center;
        transition: background-color $transition-duration-base ease-out;

        &:hover {
            background: $color-primary-500;
        }
    }
}

.contact-icon{
    width: size(4);
    height: size(4);
    border-radius: 4px;
    max-width: 100%;
}
