.slideshow-spacer {
    height: 100vh;
}

.slideshow-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    z-index: $z-index-below-page;
}

.slideshow-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba($color-gray-1000, .5);
    z-index: $z-index-below-page + 1;
    backdrop-filter: grayscale(.8);
}

.slideshow-meta {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: size($gutter);
    padding-top: size($gutter * 2);
    padding-left: size($gutter / 2);
    padding-right: size($gutter / 2);
    z-index: $z-index-base;


    @media (min-width: $screen-md) {
        padding-top: size($gutter * 4);
        padding-left: size($gutter);
        padding-right: size($gutter);
        background: linear-gradient(0deg, rgba(0,0,0,.6) 30%, rgba(0,0,0,0) 100%);

    }
}

.slideshow-captions {
    position: relative;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}


.slideshow-caption {
    opacity: 0;
    position: absolute;
    width: 85%;
    text-align: left;
    left: 0;
    bottom: 0;

    z-index: $z-index-below-page + 2;
    transition: opacity 1s $transition-ease-out-cubic;


    @media (min-width: $screen-md) {

        display: flex;
        align-items: center;
    }
    @media (min-width: $screen-md) {
        &::after {
            content: '';
            display: block;
            position: absolute;
            width: size(3);
            background: $color-primary-base;
            height: 2px;
            bottom: calc(50% - 1.5em);
            left: calc( #{size()} + 16px);
        }
    }

    &.active {
        opacity: 1;
        z-index: $z-index-below-page + 3;
    }

    span {
        @media (max-width: $screen-md - 1) {
            opacity: 0;
            background: $color-gray-900;
            position: absolute;
            bottom: calc(100% + #{size()});
            padding: size(2);
            left: 0;
            font-size: size(1.75);
            transition: opacity $transition-duration-base $transition-ease-out-cubic;
            .slideshow-captions.active & {
                opacity: 1;
            }

        }
    }
}

.icon-camera {
    width: size(4);
    height: size(4);
    padding: size(1);
    margin-right: size(1);
    background: $semi-transparent-black;

    @media (min-width: $screen-md) {
        width: size(2);
        height: size(2);
        margin-right: size(1);
        padding: 0;
    }
}

.slideshow-nav {
    position: absolute;
    right: size($gutter / 2);
    bottom: size($gutter);
}

.slideshow-nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: size(1);

    @media (min-width: $screen-md) {
        flex-direction: row;
    }
}

.slideshow-nav-link {
    width: size(4);
    height: size(4);
    display: flex;
    align-items: center;
    justify-content: center;


    &::after {
        content: '';
        width: size(1.5);
        height: size(1.5);
        border-radius: 50%;
        border: 2px solid $color-white;
        display: block;
        background-color: $semi-transparent-black;
        transition: all $transition-duration-base ease-out;
    }



    &:hover::after {
        background-color: rgba($color-white, 1);
    }

    &.active::after {
        background-color: $color-primary-base;
        border-color: $color-primary-base;
    }
}

.slideshow-item {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
}

.slideshow-image {
    opacity: 0;
    transform: scale(1.05);
    transition: all 1s $transition-ease-out-quart;

    .active > & {
        opacity: 1;
        transform: scale(1);
    }
}



.slideshow-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
