.intro {
    height: 100vh;
    max-height: 780px;
    display: flex;
    align-items: center;
}

.intro-paragraph {
    font-size: size-flexible(12);
    text-align: center;

    @media (min-width: $screen-sm) {
        font-size: size-flexible(6);
    }
}
