@mixin halfHeight() {
    padding-top: calc(50vh - #{(size-flexible(24) * 3.6) / 2});
    @media (min-width: $screen-md) {
        padding-top: calc(50vh - #{(size-flexible(9) * 1.2) / 2});
    }
}

.intro {
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    flex-direction: column;
    z-index: $z-index-base;
    width: 100%;

    @include halfHeight;




    h1 {
        margin: 0 ;

        span,
        strong {
            display: block;

            @media screen and (min-width: $screen-md) {
                display: inline;
            }
        }
    }


}

.intro-paragraph {
    font-size: size-flexible(10);
    text-align: center;
    margin: 0 0  size-flexible(8) 0;
    @include halfHeight;

    @media (min-width: $screen-md) {
        font-size: size-flexible(5);
    }
}
