.portfolio-section {
    @media (min-width: $screen-md) {
        display: flex;
        gap: size-flexible(8);
        align-items: center;


        &:nth-child(2n) {
            flex-direction: row-reverse;
        }
    }
}

.portfolio-item {
    width: 100%;

    &:first-child {
        margin-bottom: size(4);
    }

    @media (min-width: $screen-md) {
        margin-bottom: 0;
    }
}

.portfolio-item-1-2up {
    display: grid;
    gap: size-flexible(8);
    grid-template-columns: 1fr 2fr;
}

.portfolio-item-thumbs {
    display: flex;
}

.portfolio-item-thumb-1fr {
    width: 25%;
}

.portfolio-item-thumb-3fr {
    width: 75%;
}

.portfolio-item-intro {
    max-width: 55ch;
}


.portfolio-grid {
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: size($gutter-mobile * -1);
    margin-right: size($gutter-mobile * -1);

    @media (min-width: $screen-md) {
        overflow-y: hidden;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        justify-content: center;

    }

    &.size-2up,

    &.size-1-2up,
    &.size-1-3up,
    &.size-3up,
    &.size-1-4up {
        .portfolio-grid-inner {
            padding-left: size($gutter-mobile);
            padding-right: size($gutter-mobile);


            @media (min-width: $screen-sm) {
                display: grid;
                gap: size-flexible(8);
                overflow-x: inherit;
                margin-left: 0;
                margin-right: 0;
                padding-left: 0;
                padding-right: 0;
                height: auto;
            }

            .portfolio-image {
                width: auto;
                height: 900px;

                @media (min-width: $screen-sm) {
                    height: auto;
                }
            }
        }
    }


    //&.size-2up {
    //    .portfolio-image {
    //        height: 800px;
    //    }
    //}


    &.size-3up {
        .portfolio-image {
            height: 510px !important;

            @media (min-width: $screen-sm) {
                height: auto !important;
            }
        }
    }

    &.size-2up .portfolio-grid-inner {
        @media (min-width: $screen-sm) {
            grid-template-columns: 1fr 1fr;
        }
    }

    &.size-3up .portfolio-grid-inner {
        @media (min-width: $screen-sm) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &.size-1-2up .portfolio-grid-inner {

        @media (min-width: $screen-sm) {
            grid-template-columns: 1fr 2fr;
        }

        .portfolio-image {
            object-fit: cover;

            @media (min-width: $screen-sm) {
                &:last-child {
                    max-height: 100%;
                }
            }
        }
    }

    &.size-1-3up .portfolio-grid-inner {

        @media (min-width: $screen-sm) {
            grid-template-columns: 1fr 3fr;
        }

        .portfolio-image {
            object-fit: cover;

            @media (min-width: $screen-sm) {
                &:last-child {
                    max-height: 100%;
                }
            }
        }
    }
}

.portfolio-grid-inner {
    gap: size($gutter);
    //padding-top: size($gutter);
    padding-bottom: size($gutter);
    width: fit-content;
    display: flex;
    align-items: stretch;
    height: 100%;
    max-width: 1600px;
}

.portfolio-image {
    border-radius: size-flexible(1.5);
    box-shadow: 0 0 size-flexible(4) rgba(0, 0, 0, .7);
    transition: opacity .3s ease-in;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;


    @media (min-width: $screen-sm) {
        width: auto;
        max-width: 100%;
    }

    .lazyload {
        opacity: 0;
    }

    .lazyloaded {
        opacity: 1;
    }
}

.portfolio-video {
    border-radius: size-flexible(1.5);
    box-shadow: 0 0 size-flexible(4) rgba(0, 0, 0, .7);
}

.portfolio-caption {
    text-align: left;
    margin-top: size(4);
}

.porfolio-caption-heading {
    font-size: inherit;
    text-transform: none;
    font-weight: $font-weight-bold;
    letter-spacing: 0;
    margin-bottom: .5em;
    @media (min-width: $screen-md) {
        display: inline;
    }
}

.visible {
    border: 2px solid salmon;
}

.portfolio-button-row {
    text-align: center;
}


