@mixin skillsHover($opacity: .1) {
    background-color: rgba($color-gray-800, $opacity);

    &:hover {

        background-color: rgba($color-primary-400, $opacity * 2.5);
        //transform: translate(percentage((random(11) - 6) / 100), percentage((random(11) - 6) / 100)) scale(1.05);
        transform: scale(1.05);
    }
}



.skills-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
    padding-bottom: 200%;
    grid-gap: size($gutter);

    @media (min-width: $screen-md) {
        padding-bottom: 60%;
    }
}


.skills-list-item {
    font-size: size-flexible(6);
    font-weight: $font-weight-headings;
    background: rgba($color-gray-500, .1);
    height: 20vw;
    text-align: center;
    width: 20vw;
    padding: size-flexible(2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;

    transition: background-color $transition-duration-long $transition-ease-out-quart, transform  $transition-duration-long cubic-bezier(0.34, 1.56, 0.64, 1);

    @media (min-width: $screen-md) {
        font-size: size-flexible(2.5);
    }

    &:hover {
        z-index: $z-index-page + 1;
    }

    //transform: translate(-50%, -50%);
    // top: calc(#{percentage(random(100) / 100)} - 20vw);

    &.size-1 {
        height: 20vw;
        width: 20vw;
        @include skillsHover(.1);
        @media (min-width: $screen-md) {
            height: 10vw;
            width: 10vw;
        }
    }

    &.size-2 {
        height: 24vw;
        width: 24vw;
        @include skillsHover(.15);
        @media (min-width: $screen-md) {
            height: 12vw;
            width: 12vw;
        }
    }

    &.size-3 {
        height: 32vw;
        width: 32vw;
        @include skillsHover(.2);
        @media (min-width: $screen-md) {
            height: 16vw;
            width: 16vw;
        }
    }

    &.size-4 {
        height: 36vw;
        width: 36vw;
        @include skillsHover(.25);
        @media (min-width: $screen-md) {
            height: 18vw;
            width: 18vw;
        }
    }

    &.size-5 {
        height: 40vw;
        width: 40vw;
        @include skillsHover(.3);
        @media (min-width: $screen-md) {
            height: 20vw;
            width: 20vw;
        }
    }

    &.size-6 {
        height: 44vw;
        width: 44vw;
        @include skillsHover(.35);
        @media (min-width: $screen-md) {
            height: 22vw;
            width: 22vw;
        }
    }

    &.size-7 {
        height: 50vw;
        width: 50vw;
        @include skillsHover(.4);
        @media (min-width: $screen-md) {
            height: 25vw;
            width: 25vw;
        }
    }

    &[data-number='1'] {
        bottom: 0%;
        right: 3%;
     }

    &[data-number='2'] {
        bottom: 2%;
        left: 25%;
        @media (min-width: $screen-md) {
            bottom: 6%;
            left: 37%;
        }
    }

    &[data-number='3'] {
        bottom: 5%;
        left: 52%;
        @media (min-width: $screen-md) {
            bottom: 4%;
            left: 54%;
        }
    }

    &[data-number='4'] {
        top: 20%;
        right: 0%;
    }

    &[data-number='5'] {
        bottom: 10%;
        left: 2%;
        @media (min-width: $screen-md) {
            bottom: 1%;
            left: 17%;
        }
    }

    &[data-number='6'] {
        top: 0%;
        right: 15%;
    }

    &[data-number='7'] {
        top: 50%;
        left: 0%;
        @media (min-width: $screen-md) {
            top: 50%;
            left: 0%;
        }

    }

    &[data-number='8'] {
        top: 33%;
        left: 50%;
        @media (min-width: $screen-md) {
            top: 34%;
            left: 41%;
        }
    }

    &[data-number='9'] {
        top: 12%;
        left: 20%;
        @media (min-width: $screen-md) {
            top: 0%;
            left: 35%;
        }
    }


    &[data-number='10'] {
        top: 30%;
        left: 1%;
        @media (min-width: $screen-md) {
            top: 24%;
            left: 18%;
        }
    }

    &[data-number='11'] {
        top: 2%;
        left:0%;
    }

    &[data-number='12'] {
        bottom: 16%;
        right:4%;
        @media (min-width: $screen-md) {
            bottom: 10%;
            right:7%;
        }
    }
}
