.slideshow-spacer {
    height: 100vh;
}

.slideshow-container {
    width: 100%;
    aspect-ratio: 16/9;
    position: relative;
    margin-bottom: size(3);

    &.ar-1800-875 {
        aspect-ratio: 1800/875;
        max-width: 1440px;
    }

    &.ar-1800-1441 {
        aspect-ratio: 1800/1441;
        max-width: 1440px;
    }

    &.ar-960-768 {
        aspect-ratio: 960/768;
        max-width: 960px;
    }
}



.slideshow-container-fixed {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    z-index: $z-index-below-page;
}

.slideshow-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba($color-gray-1000, .7);
    z-index: $z-index-below-page + 1;
    backdrop-filter: grayscale(1);
}

.slideshow-image {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0;
    padding: 0;
    transition: all 1s $transition-ease-out-cubic;

    &.grow {
        transform: scale(1.05);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &.active {
        opacity: 1;
        transform: scale(1);
    }
}

.slideshow-meta {
    position: fixed;
    display: flex;
    gap: size(1);
    flex-direction: column;
    opacity: 0;
    transform: translateY(100%);
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0,0,0,0.55) 30%, rgba(0,0,0,0) 100%);
    padding-bottom: size(2.5);
    padding-top: size($gutter * 3);
    padding-left: size($gutter / 2);
    padding-right: size($gutter / 2);
    z-index: $z-index-base - 1;
    transition: all 1s $transition-ease-out-cubic;

    @media (min-width: $screen-md) {
        padding-top: size($gutter * 3);
        padding-left: size($gutter);
        padding-right: size($gutter);
        padding-bottom: size(2);
    }

    &.active {
        opacity: 1;
        transform: translateY(0);
    }
}

.slideshow-captions {
    position: relative;
    height: 1.5em;
    margin-bottom: size(1);
}

.slideshow-caption {
    opacity: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-index-below-page + 2;
    transition: opacity 1s $transition-ease-out-cubic;
    font-size: size(1.75);

    &.active {
        opacity: 1;
        z-index: $z-index-below-page + 3;
    }
}

.slideshow-nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: size(1);

    li {
        margin: 0;
    }
}

.slideshow-nav-link {
    height: size(4);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-appearance: none;
    border: 0;
    padding: 0;
    background: none;
    cursor: pointer;

    &::after {
        content: '';
        width: size(3);
        height: size(1);
        display: block;
        background-color: rgba($color-gray-200, .6);
        border-radius: size(1);
        transition: all $transition-duration-base ease-in-out;
    }

    &:hover::after {
        background-color: rgba($color-white, 1);
    }

    &.active::after {
        width: size(5);
        background-color: $color-primary-base;
        border-color: $color-primary-base;
    }
}

//.slideshow-item {
//    width: 100%;
//    height: 100%;
//    margin: 0;
//    padding: 0;
//    position: absolute;
//}

//.slideshow-image {
//    opacity: 0;
//    transform: scale(1.05);
//    transition: all 1s $transition-ease-out-quart;
//
//    .active > &,
//    .active picture > & {
//        opacity: 1;
//        transform: scale(1);
//    }
//}
//
//.slideshow-image {
//    width: 100%;
//    height: 100%;
//    object-fit: cover;
//}
